<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>

		<add key="Ruta7Zip" value="C:\Program Files\7-Zip\7z.exe"/>
		<add key="pathBoletaPDF" value="C:\archivos\PDF\"/>
		<add key="pathBoletaZIP" value="C:\archivos\ZIP\"/>
	</appSettings>
</configuration>