<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GandalfsoftSecurityServiceImplementPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.0.0.154:8888/services/" binding="basicHttpBinding"
                bindingConfiguration="GandalfsoftSecurityServiceImplementPortBinding"
                contract="ServiceSicu.GandalfsoftSecurityService" name="GandalfsoftSecurityServiceImplementPort" />
        </client>
    </system.serviceModel>
</configuration>